target/
boot/
lib_managed/
src_managed/

# SBT work directories
project/plugins/project/

# Eclipse configuration
.classpath
.settings
.project

# VS.Code configuration
.bloop
.metals
.scalafmt.conf

# MacOS
Icon?
